<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <form id="join">
        <table>
            <tbody>
                <tr><td><input type="text"     id="id"    placeholder="아이디">  </td></tr>
                <tr><td><input type="password" id="pw"    placeholder="비밀번호"></td></tr>
                <tr><td><input type="text"     id="name"  placeholder="이름">    </td></tr>
                <tr><td><input type="text"     id="phone" placeholder="전화번호"></td></tr>
                <tr><td><input type="text"     id="email" placeholder="이메일">  </td></tr>
                <tr>
                    <td><button type="submit" >회원가입</button>
                    <button type="reset">다시작성</button></td>
                </tr>
            </tbody>
        </table>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/addmember.js"></script>
</body>
</html>