<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        table{border: 1px solid black; border-collapse: collapse;}
        table th, table td{border: 1px solid black;}
    </style>
</head>
<body>
    <!-- 이미지를 서버로 보낼 때 반드시 encording을 해서 보내야 인식됨 -->
    <form method="post" action="/boards/update" enctype="multipart/form-data">
        <table align="center">
            <tr>
                <td width="150" align="center"></td>
                <td width="150" align="center">
                    <input type="hidden" name="id" value="{{board.id}}" /></td>
                <td width="150" align="center"></td>
                <td width="150" align="center">
                    <input type="hidden" name="writer" value="{{board.writer}}" /></td>
            </tr>
            <tr>
                <td width="150" align="center">작성일</td>
                <td width="150" align="center">{{board.create_at | date("YY/MM/DD")}}</td>
                <td align="center">조회수</td>
                <td align="center">{{board.readCount}}</td>
            </tr>
            <tr>
                <td align="center" width="150">제목</td>
                <td width="150" colspan="3">&nbsp;
                    <input type="text" name="subject" size="58" value="{{board.subject}}"></td>
            </tr>
            <tr height="300">
                <td align="center" width="150">내용</td>
                <td width="150" colspan="3">&nbsp;
                    <textarea name="content" rows="20" cols="60">{{board.content}}</textarea>
                </td>
            </tr>
            <tr>
                <th width="100">이미지</th>
                <td width="500" colspan="2">
                    &nbsp;
                    {%if board.filename%}
                        <input type="file" id="image" name="image" value="{{board.realfilename}}">
                    {%else%}
                        <input type="file" id="image" name="image" />
                    {%endif%}
                </td>
                <td>
                    {%if board.filename%}
                        <img src="/upload/{{board.realfilename}}" height="100">
                    {%else%}
                        <div>없음</div>
                    {%endif%}
                </td>
            </tr>
        </table>
        <center>
            <input type="submit" value="수정"/>
            <input type="button" value="돌아가기" onclick="location.href='/boards/boardView2/{{board.id}}'"/>
        </center>
    </form>
</body>
</html>